body{
	margin: 0;
	background-color: #4285F4;
  	overflow-y: hidden; /* Hide vertical scrollbar */
 	overflow-x: hidden; /* Hide horizontal scrollbar */
}

@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

footer{
	color: white;
	font-size: 2vh;
	height: 2vh;
	margin: 0;
	background-color: black;
}

#search {
	font-size: 16vh;
	text-shadow: 0.2vh 0.2vh 0.2vh gray;
	font-family: Product Sans;
	color: white;
}

/* Making the caret the same way as google: https://drive.googleblog.com/2010/05/whats-different-about-new-google-docs.html */
#caret {
		height: 16vh;
		width: 2px;
		background-color: white;
}

a {
	color: lightgray;
	text-decoration: none;
	font-style: italic;
}

.slide {
	background-color: #4285F4;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 98vh;
}

.slide.right {
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
  margin-left: 150% !important;
  margin-right: -150% !important;
}

.slide.left {
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
  margin-left: -150% !important;
  margin-right: 150% !important;
}

.slide.down {
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
  margin-top: 150% !important;
  margin-bottom: -150% !important;
}

.slide.up {
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
  margin-top: -150% !important;
  margin-bottom: 150% !important;
}

